### Custom Ignores ###
.idea
*.iml
node_modules

### Meta Ignores ###
/setup-manual/
/reverse-proxy/
/url-shortener-shlink/
/nextcloud/
/url-shortener-polr/
/rancher/
/traefik/
/verdaccio-npm-registry/
/cryptomator-server/
/passbolt/
/subsonic/
/plex/
